* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #eaedf1;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 16px;
}

code, pre {
  font-family: 'Inconsolata', monospace;
  font-size: inherit;
}

html {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1800 - 300)));
}

#root, .Docs {
  height: 100%;
  z-index: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

.Docs__Page {
  position: relative;
  background: white;
  color: #575757;

  /* size defined in media query */

  padding: 1em;
  margin: 1em auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 1.4em 1px rgba(0, 0, 0, 0.15);
}

.Docs__Link {
  display: block;
  width: 10em;
  padding: 0.6em 1em;
  border-left: 4px solid transparent;
  color: #686868;
  text-decoration: none;
}

.Docs__Link:hover {
  background: white;
  color: hotpink;
}

.Docs__Link--active {
  border-left-color: hotpink;
}

h1 {
  color: #686868;
}

code {
  color: #da1884;
}

pre {
  background: #f2f2f2;
  padding: 0.4em 0.2em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

pre code {
  color: inherit;
}

pre code .high-reset {
  color: #575757;
}

pre code .high-str {
  color: #da1884;
}

pre code .high-jsx {
  color: rgb(0, 88, 0);
}

pre code .high-num {
  color: rgb(11, 11, 175);
}

pre code .high-comment {
  font-size: 0.9em;
  color: #47737a;
}

/* sidebar toggle for mobile */

.Docs__Sidebar__Toggle, .Docs__Sidebar__Check {
  display: none;
}

/* small screens */
@media (max-width: 740px) {
  .Docs__Sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .Docs__Sidebar__Toggle {
    display: block;
    height: 1em;
    width: 1em;
    margin-left: auto;
    font-size: 2em;
    color: #999999;
  }

  .Docs__Sidebar__Content {
    position: absolute;
    top: 4em;
    right: 2em;
    z-index: 1000;
    background: white;
    padding: 2em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .Docs__Sidebar__Check:checked {
    color: hotpink;
  }

  .Docs__Sidebar__Check:checked + .Docs__Sidebar__Content {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    opacity: 1;
    pointer-events: inherit;
  }
}

/* large screens */
@media (min-width: 741px) {
  .Docs__Sidebar {
    position: absolute;
    right: calc(100% + 0.6em);
    top: 0;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
    background: white;
    width: 11.234em;
  }

  .Docs__Sidebar__Title {
    text-align: center;
    margin: 0.4em 0;
  }

  .Docs__Page {
    width: 60em;
    max-width: calc(95vw - 11.234em - 0.6em);
  }
}

@media (max-width: 1390px) and (min-width: 741px) {
  .Docs__Page {
    margin-left: auto;
    margin-right: 0.6em;
  } 
}
