* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #eaedf1;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#root, .Docs {
  height: 100%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

.Docs__Page {
  position: relative;
  background: #fafafa;
  color: #575757;
  width: 100%;
  max-width: 45em;
  padding: 1em;
  margin: 1em auto;
}

.Docs__Sidebar {
  position: absolute;
  right: 100%;
  top: 0;
}

.Docs__Link {
  display: block;
  width: 10em;
  padding: 0.6em 1em;
  border-left: 4px solid transparent;
  background: #f6f6f6;
  color: #686868;
  text-decoration: none;
}

.Docs__Link:hover {
  background: white;
}

.Docs__Link--active {
  border-left-color: hotpink;
}

h1 {
  color: #686868;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: #da1884;
}

pre {
  background: #f2f2f2;
  padding: 0.4em 0.2em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

pre code {
  color: inherit;
}


pre code .high-reset {
  color: #575757;
}

pre code .high-str {
  color: red;
}

pre code .high-jsx {
  color: green;
}

pre code .high-num {
  color: blue;
}

pre code .high-comment {
  font-size: 0.9em;
  color: #467a56;
}
