{
  "presets": ["latest", "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "production": {
      "plugins": ["./scripts/babel-plugin-react-no-star.js"]
    }
  }
}
