{
  "presets":
  [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins":
    [
      [ "@babel/plugin-proposal-class-properties", { "loose": true} ]
    ],
  "env": {
    "production": {
      "plugins": ["./scripts/babel-plugin-react-no-star.js"]
    }
  },
  "ignore": [
    "./scripts/babel-plugin-react-no-star.js"
  ]
}
